<footer class="page-footer black">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <p class="white-text" style="font-size: medium;">CANNABIS STORE AMSTERDAM - SALAMANCA</p>
          <p class="grey-text text-lighten-4">Frase slogan</p>
        </div>
        <div class="col l4 offset-l2 s12">
        <a class="grey-text text-lighten-3" href="#!">Link 1</a>
           
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2021 Copyright Text
      </div>
    </div>
  </footer>